# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Backups/Automatic/Most Recent (21-2-2015 12-12-54)/Accounts/accounts.xml
*.bin
Backups/Automatic/Most Recent (21-2-2015 12-12-54)/Attachments/Attachments.fpi
*.ima
*.idx
*.tdb
*.fpi
*.cache
Backups/Automatic/Most Recent (21-2-2015 12-12-54)/Staff Runebook/Rune Accounts.xml
Backups/Automatic/Most Recent (21-2-2015 12-28-21)/Accounts/accounts.xml
Backups/Automatic/Most Recent (21-2-2015 12-28-21)/Staff Runebook/Rune Accounts.xml
Backups/Automatic/Second Backup (21-2-2015 12-10-12)/Accounts/accounts.xml
*.log
Backups/Automatic/Second Backup (21-2-2015 12-10-12)/Staff Runebook/Rune Accounts.xml
*.cache
EmergencyBackup/obj/x86/Release/DesignTimeResolveAssemblyReferencesInput.cache
